<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = ""
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Guru Nanak Sewa Sansthan</name>

    <description>
        An application that supports Guru Nanak Sewa Sansthan, an NGO that works for the underprivileged
    </description>

    <author>
        Apooruv Jhamb
    </author>
</widget>
